aiodns==1.1.1
aiohttp==3.4.4
async-timeout==3.0.0
attrs==18.2.0
boto3==1.9.18
botocore==1.12.18
ccxt==1.17.372
certifi==2018.8.24
chardet==3.0.4
docutils==0.14
idna==2.7
jmespath==0.9.3
multidict==4.4.2
pycares==2.3.0
python-dateutil==2.7.3
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
urllib3==1.23
yarl==1.1.0
