aiodns==1.1.1
aiohttp==3.4.4
async-timeout==3.0.1
asyncio==3.4.3
asynctest==0.12.2
attrs==18.2.0
ccxt
certifi==2018.8.24
chardet==3.0.4
idna
kafka-python==1.4.3
multidict==4.4.2
pycares==2.3.0
PyYAML==3.13
requests
urllib3
yarl==1.1.0
python-dateutil
boto3
pysher
websockets
sortedcontainers
kraken-wsclient-py